<!-- <nav class="site-header navbar navbar-expand-md shadow-sm justify-content-between">
  <div class="nav-container">
    <ul class="navbar-nav mr-auto">
      <li class="nav-brand-container active">
        <a class="navbar-brand hover-effect" href="/"><img class="logo" src="images/logo.png"/></a>
      </li>
      <li class="nav-item active">
        <a class="nav-links nav-item hover-effect" href="/about-me">About Me</a>
      </li>
      <li class="nav-item active">
        <a class="nav-links nav-item hover-effect" href="/project">Projects</a>
      </li>
      <li class="nav-item active">
        <a class="nav-links nav-item hover-effect" href="/service">Services</a>
      </li>
      <li class="nav-item active">
        <a class="nav-links nav-item hover-effect" href="/contact-me">Contact Me</a>
      </li>
    </ul>
  </div>
</nav> -->


<nav class="site-header navbar navbar-expand-md shadow-sm justify-content-between">
  <div class="nav-container">
    <a class="navbar-brand" href="#">Dhairya Brahmbhatt</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/views/about.ejs">About me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/views/project.ejs">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/views/service.ejs">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/views/contact.ejs">Contact me</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link disabled"></a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>