
<nav class="site-header navbar navbar-expand-md shadow-sm justify-content-between">
  <div class="nav-container">
      <ul class="navbar-nav mr-auto">
        <li class="nav-brand-container active">
          <a class="navbar-brand hover-effect" href="/"><img class="logo" src="images/logo.png"></a>
        </li>
        <li class="nav-item active">
          <% if (title == "Home") {
          <a class="nav-links nav-item hover-effect" href="/index">Home</a>
        </li>
        <li class="nav-item active">
          <% if (title == "About me") %>
          <a class="nav-links nav-item hover-effect" href="/about">About Me</a>
        </li>
        <li class="nav-item active">
          <% if (title == "Projects") %>
          <a class="nav-links nav-item hover-effect" href="/project">Projects</a>
        </li>
        <li class="nav-item active">
          <% if (title == "Services") %>
          <a class="nav-links nav-item hover-effect" href="/service">Services</a>
        </li>
        <li class="nav-item active">
          <% if (title == "Contact Me") %>
          <a class="nav-links nav-item hover-effect" href="/contactme">Contact Me</a>
        </li>
      </ul>
      
  </div>
</nav>