<%- include('./partials/header.ejs') -%>

<%- include('./partials/navbar.ejs') -%>   

<!-- About Me -->
<div id="about-me">
    <h1 class="font-weight-normal about-me-header">Dhairya Brahmbhatt</h1>
    <div class="header-picture-container text-center">
        <img class="header-portfolio-picture border-0" src="images/logo.png" />
    </div>
    <p class="pt-4 pb-3 mt-3 lead font-weight-normal about-me">
      I've always had a drive for automation and optimizing processes. It's no surprise that I found myself programming
      in order to solve business problems and inefficiencies at the workplace.<br><br>

      My background is in CS, I've decided to pursue my passion - programming. <br><br>

      My projects range from web development, desktop development, to data analysis projects. Please take a look at my resume below!
    </p>

    <a href="/images/resume.pdf" target="_blank">
        <p class="lead font-weight-normal blue-button"><span>My Resume</span></p>
    </a>

</div>

<%- include('./partials/footer.ejs') -%>

