<%- include partials/header %>

<%- include partials/navbar %> 

<div class="contact-me">
    <h1>Contact Me</h1><br>

    <table class="table-contact-me table table-hover table-bordered">
      <tr>
        <td>Email</td>
        <td><a class="contact-link" href="mailto:dhairyabhrambhatt@yahoo.com">dhairyabhrambhatt@yahoo.com</a></td>
      </tr>
      <tr>
        <td>Github</td>
        <td><a class="contact-link" target=”_blank” href="https://github.com/itsdhairya"> <title="Github" alt="github" width="40" height="40"/> </a></td>
      </tr>
    </table>
    <%- include('./partials/footer') %>