<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>

<div id="projects" class="py-3">
  <h1 class="font-weight-normal project-heading">Personal Projects</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-6" data-toggle="" data-target="">
        <a>
          <div class="card mb-1 shadow-sm">
            <div class="card-header">Arduino project</div>
            <img class="" src="" />
            <div class="card-body">
              <p class="card-text"></p>
              <small class="text-muted project-label"> </small>
            </div></div
        ></a>
      </div>
    </div>
  </div>
</div> 

<%- include('./partials/footer.ejs') -%>
