<%- include('partials/header') %> <%- include('partials/navbar') %>

<div id="project" class="py-3">
  <h1 class="font-weight-normal project-heading">Personal Projects</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-6" data-toggle="" data-target="">
        <a>
          <div class="card mb-1 shadow-sm">
            <div class="card-header">Arduino project</div>
            <img class="" src="" />
            <div class="card-body">
              <p class="card-text"></p>
              <small class="text-muted project-label"> </small>
            </div>

               <!-- Air Quality Dashboard Project -->
          <div class="col-md-6" data-toggle="modal" data-target="#modal-air-quality"><a>
            <div class="card mb-1 shadow-sm">
              <div class="card-header">Dashboard for Monitoring Accounting</div>
              <div class="card-body">
                <p class="card-text">Visualizes data trends from 26 sites across Canada.</p>
                <small class="text-muted project-label">Python / SQL / Matplotlib</small>
              </div>
            </div></a>
          </div>

        </a>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
