<footer>
  <nav id="b_navr" class="navbar navbar-dark text-center">
    <div id="Copyright" class="container">
      <h6 class="display-6 navbar-text">
        &copy; Copyright <%= new Date().getFullYear();%>
      </h6>
    </div>
  </nav>
</footer>
