<p style="position: fixed; bottom: 0; width: 100%;" class="text-center">Copyright <%= new Date().getFullYear();%>. This is footer</p>

<!-- <script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/bootstrap.min.js"></script>
<script src="/Scripts/app.js"></script>
</body>
</html> -->