<%- include('../common/head') %>

<body>
    <header>
        <%- include('../common/header') %>
    </header>
    This is Home Page
    <footer>
        <%- include('../common/footer') %>
    </footer>
</body>
</html>